/* Custom SCSS variables */

@layer base {
    html, body {
        @apply bg-background text-gray-100;
        @apply font-mono;
    }
}

@layer components {
    .container {
        @apply mx-auto w-full max-w-screen-xl px-4;
    }

    .card {
        @apply border border-slate-800 p-6 rounded-lg backdrop-blur-sm;
        background-color: #140e24;
    }
}

@layer base {
    :root {
        --color-background: #0c0917;
        --color-primary: #5B3FA3;
    }
}